@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4,
h5,
p,
li,span, input, textarea, button, label, select{
  color: #000000;
}

.slick-prev {
  left: 0 !important; /* Adjust this value to move the button inside */
}

.slick-next {
  right: 0 !important; /* Adjust this value to move the button inside */
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2; 
  overflow: hidden;
}
